body {
  font-family:Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  background: black;
  color: white;
}

textarea {

  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  background: transparent;
  color: white;
  width: 400px;
}

table
{ 
  font-family:Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.text {
  background: black;
  color: white;
}



.evalButton{
	background: transparent;
    border: 2px solid #aaa;
    color: #FFF;
    text-align: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 6 7px; line-height: 25px;
}


.evalButtonOld {
  background: darkGrey;
  color: white;
}

#global {
padding: 2%; 
position: absolute; 
left: 0px;
top: 0px;
width: 95%;
height: 95%; 
}



#global2 {
padding: 2%;
position: absolute; 
left: 0px;
top: 0px;
width: 95%;
height: 95%; 
}

canvas {
background: transparent;
position: absolute; 
left: 0px;
top: 0px;
}
